# Ignore Python virtual environments
.venv/
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system/environment files
.env
*.env
.DS_Store
Thumbs.db

# Models and large binaries
models/
*.h5
*.hdf5

# Editor/IDE
.vscode/
idea/

# Test / coverage
.pytest_cache/
coverage.xml

# Misc
*.log
*.sqlite3
/.mypy_cache/
/.cache/
